<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <h1>Will Dave Scream?</h1>

      <div class="dave" id="dave-fucking-grohl">
        <div class="face">
          <img src="assets/images/dave_face.png" />
        </div>
        <div class="mouth">
          <img src="assets/images/dave_mouth.png" />
        </div>
      </div>
    </div>
  </body>
</html>
